
<nav class="nav__container">
    <div>
        <a href="#" class="nav__link nav__logo">
            <i class='bx bxs-disc nav__icon' ></i>
            <span class="nav__logo-name">G.I.S</span>
        </a>

        <div class="nav__list">
            <div class="nav__items">
                <h3 class="nav__subtitle">Menu</h3>
                <a href="#1" class="nav__link active">
                    <i class='bx bx-home nav__icon' ></i>
                    <span class="nav__name">Home</span>
                </a>
                <a href="#2" class="nav__link">
                    <i class='bx bx-map nav__icon' ></i>
                    <span class="nav__name">Map</span>
                </a>
            </div>
        </div>
    </div>
</nav>
